@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
* {
  text-decoration: none !important;
  list-style-type: none !important;
}

/*================================ font family ===============================*/
@font-face {
  font-family: "snasm";
  src: url(./assets/fonts/Snasm\ W05\ Regular.ttf);
}
.ff_snasm {
  font-family: "snasm";
}
.ff_railway {
  font-family: "Raleway";
}
.ff_manraope {
  font-family: "manrope";
}
/*============================================== root ===================================*/
:root {
  --fs-xsm: 14px;
  --fs-sm: 14px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-xlg: 24px;
  --fs-xl: 26px;
  --fs-2xl: 28px;
  --fs-3xl: 30px;
  --color-orange: #f60;
  --bg-orange: #f60;
  --bg-black: #000;
  --color-white: #fff;
  --color-offwhite: #e2e2e2;
  --color-rgbOfWhite: rgba(255, 255, 255, 0.8);
  --color-secoundry-white: rgba(255, 252, 250, 1);
  --bg-offblack: #171717;
  --opecity-color: #b4b3b3;
}
.opcity_color {
  color: var(--opecity-color);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xlg {
  font-size: var(--fs-xlg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.color_orange {
  color: var(--color-orange);
}
.color_white_secoundry {
  color: var(--color-secoundry-white);
}
.bg_off_Black {
  background-color: var(--bg-offblack);
}
.bg_black {
  background-color: var(--bg-black);
}
.bg_orange {
  background-color: var(--bg-orange);
}
.color_white {
  color: var(--color-white);
}
.color_offwhite {
  color: var(--color-offwhite);
}
.rgb_offwhite {
  color: var(--color-rgbOfWhite);
}
@media (min-width: 576px) {
  :root {
    --fs-sm: 16px;
    --fs-lg: 27.94px;
    --fs-xl: 30px;
    --fs-2xl: 36px;
    --fs-3xl: 40px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-2xl: 40px;
    --fs-3xl: 45px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-lg: 27.94px;
    --fs-xl: 32.5px;
    --fs-2xl: 44px;
    --fs-3xl: 52px;
  }
}
